body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.rootLayout {
  min-height: 100vh;
}

.rootHeader {
  padding: 10px;
  border-bottom: 1px solid gray;
  background-color: #fff;
  height: auto;
  line-height: normal;
}

.rootContent {
  margin: 16px;
}
